.DS_Store
bazel-bin
bazel-genfiles
bazel-out/*
bazel-testlogs/*
bazel-bin/*
bazel-genfiles/*
bazel-simple_tensorflow
bazel-out/*
bazel-testlogs/*
*.tar.gz
*.png
*.jpg
*.jpeg
*.tiff
*.[ao~]
*.whl
*.[ext]
